body {
	padding: 160px 16px;
}

img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1920px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;

	/* Animation */
	animation-name: hueRotation;
	animation-duration: 30s;
	animation-iteration-count: infinite;
}

@media screen and (max-width: 1920px) { /* Specific to this particular image */
	img.bg {
		left: 50%;
		margin-left: -960px;   /* 50% */
	}
}

@media screen and (max-height: 568px) { /* Specific to this particular image */
	body {
		padding: 96px 16px;
	}
}

h1, h2 {
	color: #fff;
	font-family: 'Cinzel', serif;
	text-align: center;
	text-shadow: 1px 1px 4px rgba(15, 15, 15, 1);

	/* Animation */
	animation-name: fade-in-right;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

h2 {
	opacity: 0;
	animation-delay: .75s;
}

a {
	bottom: 16px;
	left: 50%;
	margin-left: -20px;
	position: fixed;
}

@keyframes hueRotation {
	0% {filter: hue-rotate(0deg);}
	10% {filter: hue-rotate(36deg);}
	20% {filter: hue-rotate(72deg);}
	30% {filter: hue-rotate(108deg);}
	40% {filter: hue-rotate(144deg);}
	50% {filter: hue-rotate(180deg);}
	60% {filter: hue-rotate(216deg);}
	70% {filter: hue-rotate(252deg);}
	80% {filter: hue-rotate(288deg);}
	90% {filter: hue-rotate(324deg);}
	100% {filter: hue-rotate(360deg);}
}

@keyframes fade-in-right {
	from {opacity: 0;transform: translateY(-15px);}
	to {opacity: 1;transform: translateY(0);}
}